.nav-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  
}
.nav-menu-list:not(:last-child){
  margin-right: 40px;
}

.nav-menu-link{
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.nav-menu-list:hover{
  font-size: 24px;
  background-color: white;
  border: 2px dashed black;
 transition: all 400ms cubic-bezier(.42, 0, .58, 1);
}


#validation-input{
    border: 3px solid #bdbdbd;
}
#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}